<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="cards.css">
    </head>
    <body>
        <section class="page2">
            <div class="cards"> <!--Container for all cards -->
                <div class="card"> <!--A single card container -->
                    <div class="img-holder"><img src="images/Affogato.jpg" width="100%" height="200px"></div> <!--image container(the card itself)-->
                    <div class="card-content"> <!--the content for the card itself -->
                        <h2>Affogato</h2>
                        <p>jkb</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="card"> <!--A single card container -->
                    <div class="img-holder"><img src="images/espresso.webp" width="100%" height="200px"></div> <!--image container(the card itself)-->
                    <div class="card-content"> <!--the content for the card itself -->
                        <h2>Espresso</h2>
                        <p>huoj</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="card"> <!--A single card container -->
                    <div class="img-holder">
                        <img src="images/Americano.jpg" width="100%" height="200px">
                    </div> <!--image container(the card itself)-->
                    <div class="card-content"> <!--the content for the card itself -->
                        <h2>Americano</h2>
                        <p>Caffè americano (Italian: [kafˈfɛ ameriˈkaːno]; Spanish: café americano; lit. 'American coffee'),
                             also known as americano or American, is a type of coffee drink prepared by diluting an espresso shot with hot water at a 1:3 to 1:4 ratio, resulting in a drink that retains the complex flavors of espresso, but in a lighter way.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="" async defer></script>
    </body>
</html>